<footer layout="row">
  <div class="container">
    <div class="row between-xs middle-xs">
      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3>Tecnologias</h3>
          <ul>
            <li>
              <a href="https://angular.io/">Laravel</a>
            </li>
            <li>
              <a href="https://laravel.com/">Angular</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3>Acerca de Andres David</h3>
          <ul>
            <li>
              <a
                href="https://www.linkedin.com/in/andresdavidsv/ "
                target="_blank"
                >LinkendIn</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3>Contacto</h3>
        </div>
      </div>
    </div>
  </div>
</footer>
